* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.container {}

.col15 {
    float: left;
    width: 15%;

}

.col85 {
    float: left;
    width: 85%;

}


.col30 {
    float: left;
    width: 33.5%;

}

.col70 {
    float: left;
    width: 64.5%;

}

.row{
  width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    float: left;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}

textarea {
    vertical-align: top;
}

label {
    display: inline-block;
}
img{
  max-width: 87.5%;
}

@media screen {
    .col15, .col85, .col30, .col70 {
        margin-top: 1%;
    }
}